<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      一些小工具
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="bicycle" style="margin-right: 5px"></ion-icon>
      我们的工程师在哪儿？
    </ion-item>
    <ion-item>
      <ion-icon name="chatbubbles" style="margin-right: 5px"></ion-icon>
      想说点什么？
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle" style="margin-right: 5px"></ion-icon>
      关于
    </ion-item>
  </ion-list>

  <button *ngIf="client?.clientSeconds>0&&!signComplete" ion-button color="dark" (click)="goSign()">
    继续添加签名({{client?.clientSeconds}})
  </button>
  <button *ngIf="client?.clientSeconds<=0&&!signComplete" ion-button color="dark" (click)="goSign()">
    继续添加签名(已超时)
  </button>
  <button *ngIf="signComplete" ion-button color="dark" (click)="goSign()">
    继续添加签名(签名已完成)
  </button>

</ion-content>
