<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title.getTitle()}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [navPush]="workerPage">
      <ion-icon name="bicycle" color="primary" style="margin-right: 5px"></ion-icon>
      工程师们在哪儿？
    </ion-item>
    <ion-item>
      <ion-icon name="chatbubbles" color="primary" style="margin-right: 5px"></ion-icon>
      想说点什么？
    </ion-item>
    <ion-item [navPush]="aboutPage">
      <ion-icon name="information-circle" color="primary" style="margin-right: 5px"></ion-icon>
      关于
    </ion-item>
  </ion-list>


  <button *ngIf="showGoSign&&client?.clientSeconds>0&&!signComplete" ion-button color="primary" (click)="goSign()">
    继续添加签名({{client?.clientSeconds}})
  </button>
  <button *ngIf="showGoSign&&client?.clientSeconds<=0&&!signComplete" ion-button color="primary" (click)="goSign()">
    继续添加签名(已超时)
  </button>
  <button *ngIf="showGoSign&&signComplete" ion-button color="primary" (click)="goSign()">
    继续添加签名(签名已完成)
  </button>

</ion-content>
